
.extracted-style-23 {
  width: 150px;
  height: 120px;
}

.extracted-style-22 {
  bottom: -10px;
  right: -10px;
}

.extracted-style-21 {
  font-size: 0.9rem;
}

.extracted-style-20 {
  font-size: 0.9rem;
}

.extracted-style-19 {
  border-radius: 0.25rem;
  overflow: hidden;
  border: 1px solid #dee2e6;
}

