@if (customLink != null) 
{
<a [routerLink]="customLink" data-toggle="tooltip" [title]="'general.view' | translate" style="text-decoration: none;">
    {{ context.value }}
    <i class="fa-solid fa-arrow-up-right-from-square ms-2"></i>
</a>
}
@else
{
<a [href]="context.value" target="_blank" data-toggle="tooltip" [title]="context.value" style="text-decoration: none;">
    <i class="fa-solid fa-arrow-up-right-from-square me-2"></i>
    {{ context.params?.label ?? 'general.open' | translate }}
</a>
}