
    <div class="dashboard-bg">
      <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">   
          <div class="col" *ngFor="let item of modules">
            <div class="card h-100 border-0 shadow-sm rounded-4 text-center cursor-pointer module-card" [routerLink]="item.route">
              <div class="card-body py-4 d-flex flex-column align-items-center justify-content-center">
                <i [class]="item.icon + ' mb-3'" [style.color]="item.color" style="font-size: 2.5rem;"></i>
                <h6 class="card-title fw-bold text-dark">{{ item.title }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
