
.extracted-style-134 {
  min-height: 100vh;
}

.extracted-style-133 {
  width: 420px;
  padding: 2.5rem;
  border-radius: 12px;
}

.extracted-style-132 {
  color: #333;
  font-size: 0.85rem;
}

.extracted-style-131 {
  border-radius: 4px;
  padding: 0.5rem 2.25rem 0.5rem 0.75rem;
}

.extracted-style-130 {
  color: #333;
  font-size: 0.85rem;
}

.extracted-style-129 {
  border-radius: 4px;
  padding: 0.5rem 2.25rem 0.5rem 0.75rem;
}

.extracted-style-128 {
  background-color: #176B6B;
  color: white;
  border: none;
  font-size: 0.95rem;
  padding: 0.6rem;
  border-radius: 4px;
}

.extracted-style-127 {
  border: 1px solid #ced4da;
  font-size: 0.95rem;
  padding: 0.6rem;
  border-radius: 4px;
}

.extracted-style-126 {
  font-size: 0.8rem;
}

