<div   class="login-bg d-flex flex-column justify-content-center align-items-center extracted-style-134">
      <div   class="card shadow-sm border-0 extracted-style-133">
        
        
        
        <div class="mb-3 text-start">
          <label   class="form-label fw-bold mb-1 extracted-style-132">Company</label>
          <select   [(ngModel)]="selectedCompanyId" (change)="onCompanyChange()" class="form-select text-secondary border-secondary-subtle extracted-style-131">
            <option [ngValue]="null"></option>
            <option *ngFor="let comp of companies" [value]="comp.id">{{comp.name}}</option>
          </select>
        </div>

        <div class="mb-4 text-start">
          <label   class="form-label fw-bold mb-1 extracted-style-130">Branch</label>
          <select   [(ngModel)]="selectedBranchId" [disabled]="!selectedCompanyId" class="form-select text-secondary border-secondary-subtle extracted-style-129">
            <option [ngValue]="null"></option>
            <option *ngFor="let branch of filteredBranches" [value]="branch.id">{{branch.name}}</option>
          </select>
        </div>

        <button  
                
                (click)="enterModule()" class="btn w-100 mb-2 extracted-style-128">
          Continue
        </button>

        <button  
                
                (click)="onSkip()" class="btn w-100 bg-white text-secondary extracted-style-127">
          Skip
        </button>
      </div>
      
      <div class="mt-4 text-center">
         <small   class="text-muted extracted-style-126">Mohamed Abdelstar Abdelkader</small>
      </div>
    </div>
