
.extracted-style-8 {
  background-color: #176B6B;
}

.extracted-style-7 {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.extracted-style-6 {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.extracted-style-5 {
  appearance: none;
}

.extracted-style-4 {
  right: 8px;
  pointer-events: none;
}

.extracted-style-3 {
  appearance: none;
}

.extracted-style-2 {
  right: 8px;
  pointer-events: none;
}

.extracted-style-1 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

