
.extracted-style-33 {
  height: 50px;
  font-size: 0.9rem;
}

.extracted-style-32 {
  color: #176B6B;
  letter-spacing: -1px;
  margin-right: 10px;
}

.extracted-style-31 {
  font-style: italic;
}

.extracted-style-30 {
  min-height: calc(100vh - 120px);
}

